:root {
  --orange: #ec5242;
  --grey: #d3d3d3;
  --black: #272a31;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* Upper Nav Styling */

.upperNavSocial {
  display: none;
}

/* Nav section */

.navLinks {
  color: var(--black);
  text-decoration: none;
}

.NavLogo {
  display: none;
}

/* Intro section BG Issue is Consistent*/

.intro-section {
  background-image: linear-gradient(rgba(17, 9, 9, 0.7), rgba(17, 9, 9, 0.3), rgba(255, 255, 255, 0.5)), url(Assets/main-background.jpg);
  height: auto;
  background-size: cover;
}

.intro-upperTitle {
  padding-top: 10%;
  padding-left: 10%;
  color: var(--orange);
  font-size: 3rem;
}

.intro-mainTitle {
  color: var(--orange);
  opacity: 0.99;
  padding-left: 10%;
  font-size: 2.5rem;
  text-decoration-color: #ec5242;
  text-decoration: var(--black) solid 1px;
}

.intro-box-paragraph {
  padding-left: 1px;
  border: 2px solid white;
  background-color: var(--grey);
  margin: 2% 5% 2% 12%;
  width: 45%;
  opacity: 0.66;
}

.intro-paragraph {
  padding: 2%;
  line-height: 220%;
  font-size: 1.125em;
  text-align: justify;
}

.intro-date {
  padding: 5% 0 5% 10%;
  font-size: 2.4rem;
  text-align: left;
  letter-spacing: 0;
  text-stroke: var(--grey);
}

.intro-location {
  padding-left: 10%;
  font-size: 1.5rem;
  text-align: left;
}

/* Section Main Program */

.Main-program {
  color: white;
  background-color: var(--black);
  background-image: url(Assets/pattern_bg_new.png);
  padding-bottom: 15%;
  height: 100%;
}

.Main-program-cards {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  color: white;
  text-align: center;
  font-size: 24px;
  width: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
  gap: 10px;
  margin: 1% 1%;

  /* padding: 10px 5px 10px 2px; */
  flex-grow: 1;
  width: 95%;
}

.cardicon {
  width: 64px;
  height: 58px;
  align-self: center;
  margin: 0 0.5% 0 0;
  padding: 0 2%;
}

.cardtitle {
  color: var(--orange);
  align-self: center;
  font-size: 14px;
  min-width: 71px;
}

.cardparagraph {
  color: white;
  font-size: 0.75em;
  line-height: 1.5em;
  opacity: 1;
  align-self: center;
}

/* Section Speakers */

.titlespeakers {
  text-align: center;
  padding: 5% 0;
}

.underline {
  display: block;
  margin: auto;
}

.speakerparent1,
.speakerparent2,
.speakerparent3 {
  display: flex;
  flex-direction: column;
}

.speakercard {
  /* padding: 3% 2.5%; */
  margin: 20px;
}

.speaker-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0.5;
  height: 100%;
}

.speakerimg {
  padding: 1%;
  height: 100%;
}

.headerdescription {
  padding: 0 3%;
  height: 10vh;
  width: 100%;
}

.speakername {
  font-size: 16px;
  color: var(--black);
}

.speakertitle {
  color: var(--orange);
  font-size: 13px;
}

.speakerdescription {
  padding: 0 5%;
  font-size: 13px;
  text-align: justify;
  height: 100%;
}

/* Speaker Button */

.btnspeaker {
  align-items: center;
  width: 88%;
  height: 45px;
  margin: 0 6%;
  font-size: 14px;
  background-color: white;
  border: solid 1px var(--grey);
  border-radius: 4px;
}

.btnJoin {
  color: white;
  background-color: var(--orange);
  width: 46%;
  margin-left: 27%;
  height: 50px;
  border-style: outset;
  border: none;
  font-size: 14px;
}

.sectionfooter {
  background-color: var(--black);
  height: auto;
}

.partner {
  text-align: center;
  padding-top: 5%;
}

.partnerlogoparent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.partnerlogoparent > * {
  flex: 1 1 50px;
  max-width: 33%;
  padding: 34px;;
}

/* Desktop Adjustments */

@media (min-width: 768px) {
  .upperNav {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding-left: 50%;
    gap: 10px;
    align-items: center;
    height: 1.5rem;
    text-decoration: none;
  }

  .upperNavLinks {
    text-decoration: none;
    color: white;
  }

  .NavLogo {
    height: 40px;
    width: 40px;
  }

  .speakerdescriptiondesktop {
    visibility: visible;
    font-size: 14px;
  }

  .speakerdescription {
    display: none;
  }

  .speakerparent1,
  .speakerparent2,
  .speakerparent3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
  }

  .speakercard {
    margin: 20px;
    width: 50%;
  }

  .speakertitle {
    font-size: 13px;
    height: 50%;
  }

  .speakername {
    font-size: 22px;
  }

  .Main-program-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /* padding: 1% 1%; */
  }

  .cards {
    display: flex;
    flex-direction: column;
    min-height: 170px;
    justify-content: space-around;
    text-align: center;
  }

  .btnspeaker {
    display: none;
  }
}

/* About Page */

.ac {
  align-items: center;
  text-align: center;
}

.aboutmain {
  background-color: white;
}

.eventlogobig {
  align-self: center;
  align-content: center;
  text-align: center;
  align-content: center;
  width: 35%;
  height: 35%;
  margin-left: 33%;
}

.sub {

}

.pasteventssection {

}

.eventphotoparent {
  display: flex;
  flex-direction: column;
}

.eventphotoparent > * {
  min-width: 350px;
  padding: min(20px, 2%);
}