:root {
  --orange: #ec5242;
  --grey: #d3d3d3;
  --black: #272A31;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}


/* Upper Nav Styling */

.upperNavSocial {
  display: none;
}

/* Nav section */

.navLinks {
  color: var(--black);
  text-decoration: none;
}

.NavLogo {
  display: none;
}

/* Intro section */

.intro-section {
  background: url(./Assets/main-background.jpg);
  height: 80vh;
  background-size: cover;
}

.intro-upperTitle {
  padding-top: 10%;
  padding-left: 10%;
  color: var(--orange);
}

.intro-mainTitle {
  color: var(--orange);
  opacity: 0.8;
  padding-left: 10%;
}

.intro-box-paragraph {
  padding-left: 0;
  border: 2px solid white;
  background-color: var(--grey);
  margin: 2% 5% 2% 5%;
}

.intro-paragraph {
  padding-left: 5%;
  line-height: 220%;
  font-size: 1.125em;
  text-align: justify;
}

.intro-date {
  padding: 5% 0 5% 10%;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0px;
}

.intro-location {
  padding-left: 10%;
  font-size: 15px;
  text-align: center;
}

/* Section Main Program */

.Main-program {
  color: white;
  background-color: var(--black);
  background-image: url(Assets/pattern_bg_new.png);
}

.Main-program-cards {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainTitle {
  color: white;
  text-align: center;
  padding: 5%;
  font-size: 24px;
  width: auto;
}

.cards {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.1);
  gap: 10px;
  margin: 1% 1%;
  /* padding: 10px 5px 10px 2px; */
  flex-grow: 1;
  width: 95%;
}

.cardicon {
  width: 64px;
  height: 58px;
  align-self: center;
  margin: 0 0.5% 0 0;
}

.cardtitle {
  color: var(--orange);
  align-self: center;
  font-size: 14px;
  min-width: 71px;
}

.cardparagraph {
  color: white;
  font-size: 0.75em;
  line-height: 1.5em;
  opacity: 1;
  align-self: center;
}


/* Section Speakers */

.speakersection {
  
}

.titlespeakers {
  text-align: center;
  padding: 5% 0;
}

.underline {
  display: block;
  margin: auto;
  padding-bottom: 10%;
}

.speakerparent1,
.speakerparent2,
.speakerparent3 {
  display: flex;
  flex-direction: column;
}

.speakercard {
  padding: 3% 2.5%;
}

.speaker-header {
  display: flex;
  flex-direction: row;
  flex-shrink: 0.5;
  height:100%;
}

.speakerimg {
  padding: 1%;
  height:100%;
}

.headerdescription {
  padding: 0 3%;
  height: 10vh;
  width: 100%;
}

.speakername {
  font-size: 16px;
  color: var(--black);
}

.speakertitle {
  color: var(--orange);
  font-size: 13px;
  /* text-align: justify; */
  height: 100%;
}

.speakerdescription {
  padding: 0 5%;
  font-size: 13px;
  text-align: justify;
  height: 100%;
}

.speakerdescriptiondesktop {
  visibility: hidden;
}

/* Desktop Adjustments */

@media (min-width: 768px) {
  .upperNav {
    display: flex;
    flex-direction: row;
    background-color: black;
    color: white;
    padding-left: 50%;
    gap: 10px;
    align-items: center;
    height: 1.5rem;
    text-decoration: none;
  }

  .upperNavLinks {
    text-decoration: none;
    color: white;
  }

  .NavLogo {
    height: 40px;
    width: 40px;
  }

  .speakerdescriptiondesktop {
    visibility: visible;
    font-size: 14px;
  }

  .speakerdescription {
    display: none;
  }

  .speakerparent1,
  .speakerparent2,
  .speakerparent3 {
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
  }

  .speakercard {
    padding: 1%;
    width: 50%;
  }

  .speakertitle {
    font-size: 13px;
    height: 50%;
  }

  .speakername {
    font-size: 22px;
  }

  .Main-program-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* padding: 1% 1%; */
  }

  .cards {
    display: flex;
    flex-direction: column;
    /* padding: 2% 1%; */
    /* margin: 5%; */
    min-height: 170px;
    justify-content: space-around;
    text-align: center;
  }
}